/* Base site colors and fonts */
body,
html {
  background: #202c20;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5em;
}

/* Wrap the site content in a centred box */
.site-wrapper {
  max-width: 30rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  background: #e0e6e0;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
/* Buttons */
.button {
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 2px;
  border: 2px solid rgba(212, 17, 17, 0.1);
  background: #7fcf80;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
#btn {
  background-color: darkGreen;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  color: white;
  text-decoration: none;
  sursor: pointer;
}

/* Site title and top navigation */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.9);
  background: #7fcf80;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.site-header__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

/* Messages */
.item {
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 2px 2px rgba(102, 100, 100, 0.1);
}

.item__price {
  flex-grow: 0;
  flex-shrink: 0;
  width: 4rem;
  padding-right: 1rem;
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.item__content p {
  margin-top: 0;
}
/*This is the Special Sale  header on the middle sale changed font size to 24px and changed font color to fc2727 peter comer  */
.item__discount {
  font-size: 24px;
  color: #fc2727;
}

/* Footer */
.site-footer {
  padding: 1rem;
  font-size: 12px;
  text-align: center;
}
